<!--<table>
    <thead>
        <th attr.colspan="{{colspan}}">
            Employe Detail
        </th>
    </thead>
    <tbody>
        <tr>
            <td>First Name</td>
            <td>{{firstname}}</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>{{lastname}}</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>{{gender}}</td>
        </tr>
        <tr>
            <td>Age</td>
            <td>{{age}}</td>
        </tr>
    </tbody>
</table>-->
<button  style="color:rebeccapurple" [style.font-size.px]="fontSize">Click Me Employee  </button>
<br /><br />
<button style="color:rebeccapurple" [style.font-weight]="isBold ? 'bold' : 'normal'">Click Me Employee  </button>
<br /><br />
<button style="color:rebeccapurple" [ngStyle]="addStyle()">Click Me Employee  </button>