<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="JiraUrl" value="https://jira.mtvi.com/" />
    <add key="FilterApi" value="https://jira.mtvi.com/rest/api/2/filter/" />
    <add key="IssuesApi" value="https://jira.mtvi.com//rest/api/2/issue/" />
    <add key="JiraLogin" value="guptaram" />
    <add key="JiraPwd" value="Welcome890" />
    <add key="DailyStatusFilterId" value="42786" />   
    <add key="WeeklyStatusFilterId" value="42815" />
    <add key="EmailFrom" value="ramraj.gupta@viacomcontractor.com" />
    <add key="EmailFromPwd" value="Viacom123" />
    <!--<add key="EmailTo" value="ramraj.gupta@viacomcontractor.com,Deepak.Mahanta@viacomcontractor.com,Mukri.Musaib@viacomcontractor.com,Snehal.Marathe@viacomcontractor.com"/>
    <add key="EmailCc" value="nitin.tikhe@lntinfotech.com"/>-->
    <add key="EmailTo" value="ramraj.gupta@viacomcontractor.com" />
    <add key="EmailCc" value="ramraj.gupta@viacomcontractor.com" />
    <add key="EmailFrom" value="ramraj.gupta@viacomcontractor.com" />
    <add key="SmtpHost" value="smtp.office365.com" />
    <add key="SmtpPort" value="587" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>