<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="JiraUrl" value="https://jira.mtvi.com/" />
    <add key="FilterApi" value="https://jira.mtvi.com/rest/api/2/filter/" />
    <add key="IssuesApi" value="https://jira.mtvi.com//rest/api/2/issue/" />
    <add key="JiraLogin" value="guptaram" />
    <add key="JiraPwd" value="Notinghi52" />
    <add key="DailyStatusFilterId" value="42786" />
    <add key="WeeklyStatusFilterId" value="42815" />
    <add key="EmailFromPwd" value="Notinghi52" />
    <add key="EmailTo" value="Deepak.Mahanta@viacomcontractor.com,Dhiraj.Mishra@viacomcontractor.com,ramraj.gupta@viacomcontractor.com" />
    <add key="EmailCc" value="ramraj.gupta@viacomcontractor.com" />
    <add key="EmailFrom" value="ramraj.gupta@viacomcontractor.com" />
    <add key="SmtpHost" value="smtp.office365.com" />
    <add key="SmtpPort" value="587" />
    <add key="Bodymsg" value="Please update your logs if the time count is not having 8h under your name.This will be mailed to client after 30 mins." />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="GoogleClientId" value="913302065451-onk020mf6k1rkteqt91iiik5bmirjqsl.apps.googleusercontent.com" />
    <add key="GoogleClientSecret" value="r9X31RRhzh4wDehf5r8cKiP7" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>